# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Django database
db.sqlite3

# Django static and media files
/static/
/media/

# IDE files
.idea/
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
